.header-body {
    width: 100vw;
    background-color: rgba(209, 213, 219);
    color: rgba(249, 250, 251);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header-content {
    padding: 1rem;
}

.header-content > a {
    text-decoration: none;
    color: rgba(249, 250, 251);
}