.content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: rgba(31, 41, 55)
}

.server {
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 0.25rem;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    color: rgba(31, 41, 55);
    background-color: rgba(52, 211, 153);
}